<div class="container mt-5">
    <div class="row">
         <div class="col-md-8 offset-md-2">
        <blockquote class="blockquote text-center mb-0">
          <svg class="lnr text-muted quote-icon pull-left">
            <use xlink:href="#lnr-heart">                                       
          </use></svg>
          <p class="mb-0">Keep in touch with me right here!</p>
          <footer class="blockquote-footer mt-3"><strong>Dheeman pati </strong>  
            <cite title="Source Title">dheemanpati53@gmail.com</cite>
          </footer>
        </blockquote>
        </div>
        </div>
        </div>
        </div>